h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;}  


.filters {
    margin-bottom: 1.5rem;}

select {
    font-family: inherit;
    margin: 0 1rem;
    font-size: 1rem;}

button {
    font-family: inherit;
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
    border: 1px solid #F07561;
    background-color: #F07561;
    color: #fff;}

.success, .warning {
  background-color: #F07561;
  color: #fff;
  padding: .5rem 1rem;
  margin: 1rem 0 1rem; 
  color: #fff;
}


