.entry {
  border: 1px solid #F07561;
  margin-bottom: 1rem;
}

.entry header h3 {
    font-size: 1.25rem;
    background-color: #F07561;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.entry section {
    padding: 1rem;
}

.entry section p {
    margin-bottom: 0.5rem;
}

.entry section p:last-child {
    margin-bottom: 0;
}

.entry footer a {
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
    border: 1px solid #F07561;
    background-color: #F07561;
    color: #fff;
    text-decoration: none;
    margin-bottom: 1rem;
    display: inline-block;
    margin: 0 0 1rem 1rem;
}