h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;}  

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;}  

p, ul {
    margin-bottom: 1rem;
}

ul {
    list-style: disc;
    padding-left: 1.25rem;
}


